<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.52,maximum-scale=2.0,user-#scalable=yes">
    <!--引入BS.JS-->{include file="common/UseBsJs"}
    <link rel="stylesheet" href="__COMMON__/css/body.css">
    <link rel="stylesheet" href="__INDEX__/css/user/register.css">
    <title>用户注册</title>
</head>

<body>

    <div class="wrapper">
        <h2 class="text-center text-primary">用户注册</h2>
        <hr>
        <form action="__MODULE_INDEX__/User/addUser" method="POST">
            <p><span style="color:red">Tips:本平台为公益平台，不收差价，希望与各位卖家一起营造书香校园～</span></p>
            <h4>必填：</h4>


            <div class="row">
                <div class="col-xs-6">
                    <label for="name" class="col-xs-5">用户名:</label>
                    <div class="col-xs-7">
                        <input required type="text" name="用户名" class="form-control" placeholder="请输入你的用户名">
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="name">（会出现在书籍编号上！取个好名字吧～）</label>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label for="name" class="col-xs-5">密码:</label>
                    <div class="col-xs-7">
                        <input required type="password" name="密码" class="form-control" placeholder="请输入密码">
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="name" class="col-xs-5">确认密码:</label>
                    <div class="col-xs-7">
                        <input required type="password" name="确认密码" class="form-control" placeholder="请输入确认密码">
                    </div>
                </div>
            </div>

            <h4>选填：</h4>
            <div class="row">
                <div class="col-xs-6">
                    <label for="name" class="col-xs-5">姓名:</label>
                    <div class="col-xs-7">
                        <input type="text" name="姓名" class="form-control" placeholder="请输入你的姓名">
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="name" class="col-xs-5">学号</label>
                    <div class="col-xs-7">
                        <input type="text" name="学号" class="form-control" placeholder="请输入你的学号">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label for="name" class="col-xs-5">QQ:</label>
                    <div class="col-xs-7">
                        <input type="text" name="QQ" class="form-control" placeholder="请输入你的QQ">
                    </div>
                </div>
                <div class="col-xs-6">
                    <label for="name" class="col-xs-5">微信:</label>
                    <div class="col-xs-7">
                        <input type="text" name="微信" class="form-control" placeholder="请输入你的微信">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-5"></div>
                <input type="submit" class="btn btn-success" value="提交">
                <a href="__MODULE_INDEX__/Index/index" class="btn btn-primary">返回</a>
            </div>
        </form>

    </div>

</body>

</html>